* {
    box-sizing: border-box;


}
h1{
    text-align: center;
}
body,html{
    background-color: aquamarine;
}
input{
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid grey;
    height: 40px;
    padding: 10px;
    width: 100%;
}
form{
    border: 1px solid grey;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
}
button{
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    background-color: chartreuse;
    outline: none;
    height: 40px;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}